#resume {
  font-size: 0.95em;
}

body {
  display: flex;
  flex-direction: row;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  line-height: 1;
  width: 51.55rem;
}

b {
  font-weight: 500;
}

i {
  font-style: italic;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

h1 {
  font-size: 2rem;
}

.sidebar {
  position: relative;
  width: 14.55rem;
}

.title,
.skills-contact {
  position: relative;
}

img {
  height: 18.55rem;
  width: 18.55rem;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-filter: drop-shadow(0.02rem 0.07rem 0.03em rgba(0, 0, 0, 0.32));
  filter: drop-shadow(0.02rem 0.07rem 0.03em rgba(0, 0, 0, 0.32));
}

.main {
  width: 37rem;
  margin: 0 2rem;
}

.main h2 {
  border-bottom: #a6fcac 0.8rem solid;
  margin: 1rem 0;
  padding: 1rem 0;
  font-size: 1.3rem;
}

.main > ul > li > ul > li {
  margin: 0 0 1rem 0;
}

.title {
  background-color: #ff8494;
  color: white;
  padding: 2rem 2rem 0 2rem;
  z-index: 3;
  box-shadow: 0 -0.15rem 0.1rem rgba(0, 0, 0, 0.16),
    0 -0.2rem 0.2rem rgba(0, 0, 0, 0.32);
}

.title p {
  font-size: 1.5rem;
  padding: 3rem 0 0 0;
  font-weight: 100;
}

.skills-contact {
  background-color: #f9fc84;
  padding: 14.5rem 0 0 0;
  margin: 0 0 0 2rem;
  box-shadow: 0 -0.2rem 0.1rem rgba(0, 0, 0, 0.16),
    0 -0.2em 0.2rem rgba(0, 0, 0, 0.32);
  z-index: 1;
}

.skills > h2,
.contact > h2 {
  background-color: #779bff;
  color: white;
  padding: 1rem 0.5rem 1rem 1rem;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.16),
    0 0.1rem 0.2rem rgba(0, 0, 0, 0.32);
}

.skills > ul,
.contact > ul {
  padding: 1.5rem;
}

.contact > ul {
  letter-spacing: -0.08rem;
  line-height: 2.0412;
}

.skills > ul {
  padding-left: 2.6rem;
  line-height: 1.35;
}

.main > ul > li > ul > li > ul,
.skills > ul {
  list-style-type: disc;
}

.main > ul > li > ul > li > ul {
  padding: 0 0 0 1.1rem;
}
