* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#resume {
  font-size: 1em;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: row;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  line-height: 1;
  width: 52.6rem;
}

b {
  font-weight: 500;
}

i {
  font-style: italic;
}

a {
  text-decoration: none;
  color: black;
}

li > span {
  position: relative;
  left: -0.5rem;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
}

h2 {
  letter-spacing: 0.18rem;
}

.sidebar {
  position: relative;
  width: 12.55rem;
}

.title,
.skills-contact {
  position: relative;
}

img {
  height: 18.55rem;
  width: 18.55rem;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}

.main {
  width: 37rem;
  margin: 0 2rem;
}

.main > ul > li > h2 {
  border-bottom: #170f1a 0.4rem solid;
  margin: 0.4rem 0;
  padding: 0.3rem 0;
  font-size: 1.1rem;
}

.main > ul > li:first-child > h2 {
  margin: 1.45rem 0 0.4rem 0;
  padding: 0.65rem 0 0.3rem 0;
}

.main > ul > li > ul > li {
  margin: 0 0 0.5rem 0;
}

#projects > li > ul > li {
  background: none;
  padding-left: 0;
}

.title {
  background-color: #a54776;
  color: white;
  padding: 1.8rem 2rem 0 2rem;
  z-index: 3;
}

.title p {
  font-size: 1.5rem;
  padding: 3rem 0 0 0;
  font-weight: 100;
}

.skills-contact {
  background-color: #e2d5e8;
  padding: 14.5rem 0 0 0;
  margin: 0 0 0 2rem;
  z-index: 1;
}

.skills > h2,
.contact > h2 {
  background-color: #6385cf;
  color: white;
  padding: 1rem 0.5rem 1rem 1rem;
}

.skills > ul,
.contact > ul {
  padding: 1rem;
}

.contact > ul {
  letter-spacing: -0.08rem;
  line-height: 1.4;
}

.contact > ul > li:last-child {
  padding: 0 0 1rem 0;
}

.contact a {
  font-size: 0.9rem;
}

.skills > ul {
  padding-left: 2.6rem;
  line-height: 1.6;
}

.main > ul > li > ul > li > ul,
.skills > ul {
  list-style-type: none;
}

.main > ul > li > ul > li > ul > li {
  background: url("bullet.svg") no-repeat left 0.4rem;
  padding-left: 1.1rem;
}

.skills > ul > li {
  display: flex;
  align-items: center;
  position: relative;
  left: -0.5rem;
}

.skills > ul li > span {
  left: 0.2rem;
}

.main > ul > li > ul > li > ul {
  padding: 0 0 0 0.4rem;
}

.item-title,
.item-subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-title,
.item-subtitle:last-child {
  margin: 0 0 0.2rem 0;
}

.url {
  font-style: italic;
}

.arc {
  border: 5px solid #000;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  transform: rotate(315deg);
}

.arc--25percent {
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.arc--50percent {
  border-top-color: transparent;
  border-left-color: transparent;
}

.arc--75percent {
  border-top-color: transparent;
}

.arc--100percent {
}
